@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

.header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;
    border-bottom: 1px solid white;
}

.header_title{
    display: inline-flex;
    float: left;
}

.header_links{
    display: inline-flex;
    float: right;
    outline: 1px solid white;
}

.user_info{
    display: inline-flex;
    float: left;
    outline: 1px solid white;
    padding: 0px;
}
.user_info:hover,.header_links > a:hover
,.logout:hover,.new_thread_button:hover
,.header_title:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.header_links a, .header_links a:visited,
.header_title a, .header_title a:visited,
.user_info a{
    font-size: xx-large;
    text-decoration: none;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.footer{
    grid-column: 1 / 4;
    grid-row: 3;
    background-color: black;
    border-top: 1px solid white;
}

.footer-left{
    display:inline-flex;
    float: left;
}

.footer-right{
    display: inline-flex;
    float: right;
}


/* Container classes for every page (if necessary) */
.container_kirjaudu{
    width: 25vw;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 25vh;
    text-align: center;
}

.container_front{ 
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
    column-gap: 10px;
    box-sizing: border-box;
}

.front_min_height{
    grid-column: 2/3;
    grid-row: 2;
    min-height: 70vh;
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    margin-top: 200px;
    width: 50vw;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.content{
    padding: 10px;
    border: white solid;
    border-radius: 5px;
    width: 200px;
    margin: auto;
    background-color:black;
}

/* thread content classes */

.listOf_threads{
    grid-column: 2 / 3;
    grid-row: 2;
    border-left: 1px solid white;
    padding-left: 10px;
}
.thread{
    background-color: black;
    padding: 5px;
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 10px;
}

.otsikko{
    margin-bottom: 5px;
    text-align: left;
    font-size: 25px;
    display: inline-flex;
}
.new_thread{
    display: none;
    background-color: black;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 1500px;
    width: auto;
    padding: 5px;
    transition: max-height 1s ease-out;
}
.container_front div, .header .listOf_threads{
    padding: 10px;
    border: 3px, solid, white;
}

.thread_topic{
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    height: 20px;
    resize: none;
    overflow: hidden;
    font-size: large;
    font-style: bold;
    display: inline-flex;
}
.thread_topic_button{
    border: none;
    padding: 0;
    background-color: transparent;
    text-align: left;
    font-size: x-large;
    cursor: pointer;
    word-wrap: break-word;
}
.thread_topic_button:hover{
    text-decoration: underline;
    background-color: rgb(54, 54, 54);
}

#thread_img{
    float: top;
    border: none;
    background-color: black;
}

.thread_img{
    height: 70px;
    width: 70px;
}

.thread_img img{
    height: 70px;
    width: 70px;
}

.thread_summary{
    margin-bottom: 5px;
    text-align: left;
    font-size: smaller;
    width: 100%;
    height: auto;
    resize: none;
}

.thread_content{
    margin-bottom: 5px;
    text-align: left;
    font-size: smaller;
    width: 100%;
    height: 250px;
    resize: none;
    white-space: normal;
    word-wrap: break-word;
}

.timestamp{
    text-align: right;
    font-size: small;
    font-style: italic;
}

.thread_button{
    border: none;
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}

.new_thread_button{
    border: none;
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.logout_div{
    display: inline-flex;
}
.logout{
    border: none;
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.thread_inputs{
    height: auto;
    width: auto;
    float: right;
}

.sort{
    background-color: black;
    display: inline-flex;
    margin-left: 45%;
}
/* thread content classes end */

*{
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* comment content classes */

.comment_content{
    margin-bottom: 5px;
    text-align: left;
    font-size: smaller;
    width: 25vw;
    height: 50px;
    resize: none;
}

/* comment content classes end */

/* tag definitions */

html{
    background: black;
}

input, textarea{
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: 1px solid white;
}

ol {
    list-style: none;
    padding-left: 0px;
}

h1{
    font-style: bold;
    font-family: 'Roboto', sans-serif;
}

p{
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

a{
    color: white;
}

#timer {
    font-size: 200px;
}

/*FAQ page*/

.question_border{
    border: 2px solid white;
    margin: 20px;
}
.question{
    color: white;
    cursor: pointer;
    background-color: transparent;

    padding: 20px;
    width: 500px;
    text-align: left;
    font-size: 25px;
    border: none;
}
.answer{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: black;
}

/*FAQ end*/

/*Contact us*/
.container_contact{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    min-height: 70vh;
}
.italic_span{
    font-style: italic;
    font-size: smaller;
}
.labels{
    display: inline-block;
}
.labels > label{
    padding: 3px;
}
.inputs{
    display: inline-block;
    height: auto;
    background: none;
    margin-left: 30px;
}
.inputs > input{
    background: transparent;
    padding: 3px;
}
.inputs > input::after{
    border-bottom: 5px solid white;
}
.inputs, .labels{
    margin-top: 100px;
}

/*Contact us end*/