@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

.container{
    margin: auto;
    margin-top: 20px;
    width: 50vw;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    border-radius: 10px;
}

.content{
    padding: 10px;
    border: black solid;
    border-radius: 20px;
    display: float;
    width: 200px;
    margin: auto;
}
/*thread content classes*/
.thread{
    background-color: rgb(250,250,250);
    padding: 5px;
}

.thread_topic{
    margin-bottom: 5px;
    text-align: left;
    width: 30vw;
    height: 20px;
    resize: none;
    overflow: hidden;
    font-size: large;
    font-style: bold;
}

.thread_summary{
    margin-bottom: 5px;
    text-align: left;
    font-size: smaller;
    width: 40vw;
    height: auto;
    resize: none;
}

.timestamp{
    text-align: right;
    font-size: small;
}

.thread_button{
    border: none;
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 5px;
}
/*thread content classes end*/

*{
    font-family: 'Roboto', sans-serif;
}

ol {
    list-style: none;
}

h1, p{
    text-align: center;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
}

a{
    color:black;
}

a:visited{
    color:gray;
}