#register {
    width: 80vw;
    margin: auto;
    text-align: center;
    align-items: center;
}

body{
    text-align: center;
}

form {
    display: inline-block;
}

.lomake{
    display: block;
    margin: auto;
    text-align: center;
}

input{
    align-items: center;
}